
<header>
  <!-- Título o Logo -->
  <div class="header-title">
    <a href="/" class="navbar-brand">
      <img src="/image/logo/Logo1.png" alt="Logo" style="height: 60px;">
      
    </a>
  </div>
  
  <!-- Menú general con desplegable -->
  <div class="menu">
    <ul class="menu-list">
      <li><a href="/">Inicio</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/novedades">Novedades</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Descargas</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/serv-1">Soft-1</a></li>
          <li><a class="dropdown-item" href="/serv-2">Soft-2</a></li>
          <li><a class="dropdown-item" href="/serv-3">Soft-3</a></li>
        </ul>
      </li>
      <li><a href="/contacto">Contacto</a></li>
    </ul>
  </div>

  <!-- Nav para navegación secundaria -->
  <nav class="header-nav">
    <ul>
      <li><a href="/politicas">Políticas</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/soporte">Soporte</a></li>
    </ul>
  </nav>
</header>
