<nav class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/novedades">Novedades</a></li>
    <li><a href="/descargas">Descargas</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>
