<div class="home-container">
  <h1>Bienvenido a Desarrollo & Hosting Web</h1>
  <p>Explora las demás secciones usando el menú.</p>
  <hr>
  <div class="historia">
    <p>
      <strong>"Desarrollo & Hosting Web"</strong>, una empresa creada con la misión de revolucionar el mundo digital y facilitar el acceso a soluciones tecnológicas de vanguardia.
      Destaca por su enfoque innovador, impulsado por la pasión por la tecnología y el deseo de transformar ideas en realidades digitales.
      Hoy, <strong>"Desarrollo & Hosting Web"</strong> sigue marcando tendencia, con proyectos que superan expectativas y tecnologías que moldean el futuro del entorno digital. 
      Cada nuevo desafío es una oportunidad para innovar y establecer nuevos estándares en el mundo de la tecnología y el diseño web.
    </p>
  </div>
  <img src="/image/logo/hos1.png" alt="Logotipo Desarrollo & Hosting Web">
</div>
<div class="card" style="width: 18rem;">
  <img src="/image/novedades/xakata.jpg" class="card-img-top" alt="xakata">
  <div class="card-body">
    <p class="card-text">En Xataka Argentina hablamos de... Tecnología Móviles, tablets, aplicaciones, videojuegos, fotografía, domótica... 
      Videojuegos Consolas, juegos, PC, PS4, Switch, Nintendo 3DS y Xbox.</p>
  </div>
</div>


