<h1>{{title}}</h1>
<p>Esta es la página de Mi Staff.</p>
<ul>
    <li><a href="/nosotros">Nosotros</a>
        <ul>
            <li><a href="/historia">Historia</a></li>
            <li><a href="/equipo">Equipo</a></li>
        </ul>
    </li>
</ul>
